{% extends 'sb-admin/pages/base.html' %}

{% block staticfile_web %}
    {{ block.super }}
    {% load staticfiles %}
    <!-- DataTables JavaScript -->
    <script src="{% static 'sb-admin/bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'sb-admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock staticfile_web %}

{% block title %}
    Article List
{% endblock title %}


{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tables</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Article Advanced Tables
                         <a href="{% url 'sb_admin:article_create' %}" class="btn btn-primary">Create new Article</a>


                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>Pub Date</th>
                                    <th>Headline </th>
                                    <th>Content</th>
                                    <th>Reporter</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if article_list %}
                                    <ul>
                                        {% for article in article_list %}
                                            <tr class="odd gradeX">
                                                <td>{{ article.pub_date }}</td>
                                                <td>{{ article.headline }}</td>
                                                <td>{{ article.content }}</td>
                                                <td class="center">{{ article.reporter }}</td>
                                                <td class="center"><a href="{% url 'sb_admin:article_update' article.pk%}"><span class="glyphicon glyphicon-edit"> Edit </span></a></td>
                                                <td class="center"><a href="{% url 'sb_admin:article_delete' article.pk%}"><span class="glyphicon glyphicon-remove-sign"> Delete </span></a></td>
                                            </tr>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>Do not have any Article</p>
                                {% endif %}

                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->

        </div>
    </div>
    <!-- /#page-wrapper -->
{% endblock content %}
