<form action="/sb_admin/mypages/forms/" method="post" role="form">
    <input type='hidden' name='csrfmiddlewaretoken' value='ui7r67cmDlsmkZx3rnCFBqpOHW7dwsWp'/>
    <tr>
        <th><label for="id_char_field">Char field:</label></th>
        <td><input class="form-control" id="id_char_field" maxlength="100" name="char_field" placeholder="Enter here"
                   type="text"/></td>
    </tr>
    <tr>
        <th><label for="id_text_area">Text area:</label></th>
        <td><textarea class="form-control" cols="40" id="id_text_area" maxlength="100" name="text_area"
                      placeholder="Enter here" rows="10">
</textarea></td>
    </tr>
    <tr>
        <th><label for="id_url">Url:</label></th>
        <td><input class="form-control" id="id_url" name="url" placeholder="Enter your url" type="url"/></td>
    </tr>
    <tr>
        <th><label for="id_multi_select_0">Multi select:</label></th>
        <td>
            <ul id="id_multi_select">
                <li><label for="id_multi_select_0"><input id="id_multi_select_0" name="multi_select" type="checkbox"
                                                          value="1"/> lhs</label></li>
                <li><label for="id_multi_select_1"><input id="id_multi_select_1" name="multi_select" type="checkbox"
                                                          value="2"/> lylan</label></li>
                <li><label for="id_multi_select_2"><input id="id_multi_select_2" name="multi_select" type="checkbox"
                                                          value="3"/> abc</label></li>
                <li><label for="id_multi_select_3"><input id="id_multi_select_3" name="multi_select" type="checkbox"
                                                          value="4"/> xyz</label></li>
            </ul>
        </td>
    </tr>
    <tr>
        <th><label for="id_choice_0">Choice:</label></th>
        <td>
            <ul id="id_choice">
                <li><label for="id_choice_0"><input id="id_choice_0" name="choice" type="radio" value="1"/> lhs</label>
                </li>
                <li><label for="id_choice_1"><input id="id_choice_1" name="choice" type="radio" value="2"/>
                    lylan</label></li>
                <li><label for="id_choice_2"><input id="id_choice_2" name="choice" type="radio" value="3"/> abc</label>
                </li>
                <li><label for="id_choice_3"><input id="id_choice_3" name="choice" type="radio" value="4"/> xyz</label>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th><label for="id_select_from_static">Select from static:</label></th>
        <td><select class="form-control" id="id_select_from_static" name="select_from_static">
            <option value="1">First</option>
            <option value="2">Second</option>
        </select></td>
    </tr>
    <tr>
        <th><label for="id_select_from_db">select options fr db:</label></th>
        <td><select class="form-control" id="id_select_from_db" name="select_from_db">
            <option value="1">lhs</option>
            <option value="2">lylan</option>
            <option value="3">abc</option>
            <option value="4">xyz</option>
        </select></td>
    </tr>
    <input type="submit" value="Submit" class="btn btn-default"/>
