{% extends 'basic_view/base.html' %}
{% block title %}
    Delete Author
{% endblock title %}

{% block main_body %}
    <form action="" method="post"> {% csrf_token %}
        <p>Are you sure you want to delete {{ author.name }}</p>
        <input type="submit" value="Delete Author"/>
    </form>
{% endblock main_body %}