{% extends 'basic_view/base.html' %}
{% block title %}
    Author List
{% endblock title %}

{% block main_body %}
    {% if author_list %}
        <ul>
            {% for author in author_list %}
                <li><a href="{% url 'generic_editing_view:author_update' author.pk %}"> Update {{ author.name }}</a>
                </li>
                <li><a href="{% url 'generic_editing_view:author_delete' author.pk %}"> Delete {{ author.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Do not have any author</p>
    {% endif %}

    <a href="{% url 'generic_editing_view:author_create'%}"> Create Author</a>
{% endblock main_body %}