#Container {
    width: 1300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
    margin-bottom: 10px;

}

#Header {
    height: 150px;
    background-color: #2b542c;

}


#SideBar {
    width: 200px;
    height: 800px;
    background-color: #c0a16b;
    float: left;
}

#MainBody {
    width: 1100px;
    height: 800px;
    /*background-color: #3071a9; */
    float: right;
}

#Footer {
    height: 100px;
    margin-bottom: 21px;
    background-color: #398439;
    clear: both;
}