#Menu {
    height: 60px;
    background-color: #ac2925;
}

#Menu ul {
    margin: 0;
    padding: 0;
}

#Menu li {
    list-style-type: none;
    float: left;
    display: block;
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 55px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 17px;
}

#Menu li a{
    text-decoration: none;
    color: #398439;
}

#Menu li:Hover {
    background-color: #080808;
}