{% extends "base.html" %}

{% block content %}
    <h1>Contacts</h1>

    <ul>
        {% for contact in object_list %}
            <li class="contact">{{ contact }}
                (<a href="{% url "effective_django:contacts-edit" pk=contact.id%}">edit</a>)
            </li>
        {% endfor %}
    </ul>

    <a href="{% url "effective_django:contacts-new" %}">add contact</a>
{% endblock %}