{% extends "base.html" %}


{% block content %}
<form role="form" class="form-horizontal" method="post" action="{% url "effective_django:contacts-new" %}">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>
    <input id="save_contact" type="submit" value="Save"/>
</form>

<a href="{% url "effective_django:contacts-list" %}">back to list</a>
</body>
</html>
{% endblock %}