<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Articles</h1>
<ul>
    {% for article in article_list %}
        <li>{{ article.pub_date|date }} - {{ article.headline }} <a href="{% url 'generic_view:article-detail' article.pk %}">{{ article.headline }}</a></li>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
    {{ now|date }}
</ul>
</body>
</html>