<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>{{ article.headline }}</h1>

<p>{{ article.content }}</p>

<p>Reporter: {{ article.reporter }}</p>

<p>Published: {{ article.pub_date|date }}</p>

<p>Date: {{ now|date }}</p>
</body>
</html>