<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}
        Template Example
    {% endblock title %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'basic_view/style/template.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'basic_view/style/mainbody.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'basic_view/style/800px.css' %}"
          media="screen and (max-width: 800px)">
    <link rel="stylesheet" type="text/css" href="{% static 'basic_view/style/menu.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'basic_view/style/side_bar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'basic_view/style/jquery-ui.css' %}"/>


    <script type="text/javascript" src="{% static 'basic_view/js/calendar/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'basic_view/js/calendar/jquery-ui.min.js' %}"></script>

    {% comment bootstrap have older version%}
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    {% endcomment %}

    <script type="text/javascript" src="{% static 'bootstrap_3.3.5/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap_3.3.5/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap_3.3.5/css/bootstrap.min.css' %}"/>


</head>
<body>

<div id="Container">
    <div id="Header">
        {% block header %}
        {% endblock header %}
    </div>

    <div id="Menu">
        {% block menu %}
            {# How to comment in template #}

            {% comment "Optional note" %}
            <p>Commented out text with {{ create_date|date:"c" }}</p>
        {% endcomment %}

            {% include 'basic_view/includes/menu_part.html' %}
        {% endblock menu %}
    </div>

    <div id="SideBar">
        {% block sidebar %}
            {% include 'basic_view/includes/side_bar_part.html' %}
        {% endblock sidebar %}
    </div>
    <div id="MainBody">
        {% block main_body %}
        {% endblock main_body %}
        {% comment %}
        {% block main_body %}
            {% include 'basic_view/includes/calendar_part.html' %}
        {% endblock main_body %}
        {% endcomment %}
    </div>
    <div id="Footer">
        {% block footer %}

        {% endblock footer %}
    </div>
</div>

</body>
</html>