<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}
        Template with inheritance practices
    {% endblock %}
    </title>
</head>
<body>
<h1>My helpful timestamp site</h1>
{% block content %}
    <b>You can replace this content</b>
{% endblock %}
{% block footer %}
    <hr>
    <p>Thanks for visiting my site.</p>

{% endblock %}
</body>
</html>