<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="{% url 'sb_admin:load_page' 'index' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'sb_admin:load_page' 'flot' %}">Flot Charts</a>
                    </li>
                    <li>
                        <a href="{% url 'sb_admin:load_page' 'morris' %}">Morris.js Charts</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="{% url 'sb_admin:load_page' 'tables' %}"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li>
                <a href="{% url 'sb_admin:load_page' 'forms' %}"><i class="fa fa-edit fa-fw"></i> Forms</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'sb_admin:load_page' 'panels-wells' %}">Panels and Wells</a>
                    </li>
                    <li>
                        <a href="{% url 'sb_admin:load_page' 'buttons' %}">Buttons</a>
                    </li>
                    <li>
                        <a href="{% url 'sb_admin:load_page' 'notifications' %}">Notifications</a>
                    </li>
                    <li>
                        <a href="{% url 'sb_admin:load_page' 'typography' %}">Typography</a>
                    </li>
                    <li>
                        <a href="{% url 'sb_admin:load_page' 'icons' %}"> Icons</a>
                    </li>
                    <li>
                        <a href="{% url 'sb_admin:load_page' 'grid' %}">Grid</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'sb_admin:load_page' 'blank' %}">Blank Page</a>
                    </li>
                    <li>
                        <a href="{% url 'sb_admin:load_page' 'login' %}">Login Page</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> My Practices<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'sb_admin:load_my_page' 'tables' %}">Advance Table</a>
                    </li>
                    <li>
                        <a href="{% url 'sb_admin:load_my_page' 'forms' %}">My Form</a>
                    </li>
                    <li>
                        <a href="{% url 'sb_admin:load_my_page' 'form_bootstrap_3_5' %}">BootStrap</a>
                    </li>
                    <li>
                        <a href="{% url 'sb_admin:load_my_page' 'panels-wells' %}">My Panel-wells</a>
                    </li>

                    <li>
                        <a href="{% url 'sb_admin:load_my_page' 'bootstrapform' %}">BootStrap Form</a>
                    </li>
                    <li>
                        <a href="{% url 'sb_admin:load_my_page' 'article_form' %}">My Article Form </a>
                    </li>

                    <li>
                        <a href="{% url 'sb_admin:index'%}">Article List</a>
                    </li>

                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->