<script>
    $(document).ready(function () {
        $("#input_from_time").datepicker(
                {dateFormat: 'dd/mm/yy'}
        );

         $("#input_to_time").datepicker(
                {dateFormat: 'dd/mm/yy'}
        );
    });
</script>

<form action="" method="get">
    <input type="text" value="From Day" id="input_from_time"/>
    <input type="text" value="To Day" id="input_to_time"/>
    <input type="submit" value="View History"/>
</form>