<ul>
    <li>
        <a href="{% url 'generic_editing_view:index' %}">Home</a>
    </li>

    <li>
        <a href="#">Service</a>
    </li>

    <li>
        <a href="#">About</a>
    </li>


    <li>
        <a href="{% url 'generic_editing_view:name' %}">Name</a>
    </li>


    <li>
        <a href="{% url 'generic_editing_view:contact' %}">Contact</a>
    </li>




</ul>