<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">BootStrap Tutorial
        <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'bootstrap:boot_strap' 'button' %}">Button</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'bootstrap:boot_strap' 'table' %}">Table</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'bootstrap:boot_strap' 'form' %}">Form</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'bootstrap:boot_strap' 'login' %}">Input Data</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
    </ul>
</div>